#bg {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    
}

#navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    height: fit-content;
    background-color: #22cc9d;
    
}

#login_btn {
    height: 30px;
    width: 60px;
    justify-self: end;
}

#body {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

}

#video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    filter: blur(5px);
    
}

#color_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 204, 157, 0.3);
    pointer-events: none;
}

#body_text {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-items: center;


}

#main_text {
    height: fit-content;
    width: fit-content;

}

#main_paragraph {
    margin-left: 15px;
    margin-right: 15px;
    height: fit-content;
    width: fit-content;
}

#signup_btn {
    height: 40px;
    width: 90px;
    font-size: 15px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: #22cc9d;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 5px;
}

#main_logo, #main_text, #main_paragraph, #created_by {
    color: whitesmoke;
}

#login_btn.active, #signup_btn.active {
  color: black;
  background-color: #e9e9e9;
  border-radius: 10px;
}

#login_btn.active:hover, #signup_btn.active:hover {
  color: #22cc9d;
  border-color: #22cc9d;

}

#login_btn:active, #signup_btn:active {
  background-color: #d9d9d9;

}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 15px;
}

a:link {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    color: rgb(141, 129, 140);
}

a:active {
    color: whitesmoke;
}

@media screen and (min-width: 800px) {
    #navbar {
        padding-left: 30px;
        padding-right: 30px;
        grid-template-rows: 40px;
        padding-bottom: 30px;
    }

    #main_logo {
        align-content: center;
        height: 50px;
    }

    #login_btn {
        height: 50px;
        width: 90px;
        font-size: 20px;
    }

    #signup_btn {
        width: 160px;
        font-size: 25px;
        height: 60px;
    }

    #footer {
        padding-top: 30px;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

}

@media screen and (min-width: 1200px) {
    
    #main_logo {
        font-size: 35px;
        height: 50px;
    }

    #login_btn {
        height: 50px;
        width: 110px;
        font-size: 20px;
    }

    #main_text {
        font-size: 50px;
    }
    
    #main_paragraph {
        width: 50vw;
        font-size: 27px;
    }


}