#bg_grid {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 70px 1fr;
    position: absolute;
    width: 100%;
}

#sets_navbar, #sets_section {
    grid-column-start: 1;
    grid-column-end: -1;
}

#sets_section {
    background-color: #e9e9e9;
}

#sets_navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    height: fit-content;
    background-color: #22cc9d;
}

#logo {
    color: whitesmoke;
    font-size: 25px;
}

#profile_btn {
    border: none;
    border-radius: 10px;
    width: 70px;
    justify-self: end;
    font-size: 20px;
}

#profile_btn.active {
    color: whitesmoke;
    background-color: #22cc9d;
}

#profile_btn.active:hover {
    background-color: #25dfac;
}

#sets_title {
    color: black;
    padding-top: 20px;
    padding-left: 20px;
    height: fit-content;
    padding-bottom: 30px;
}

#sets_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    gap: 30px;
    padding-bottom: 40px;
}

#sets_id {
    width: 100%;
    display: flex;
    justify-content: center;
}

#li_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: ridge;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 80%;
    min-height: 50px;
    padding: 0 10px;
    gap: 10px;
}

#editable_text {
    flex: 1;
    text-align: left;
    background: none;
    border: none;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#editable_text.active {
    color: black;
}

#editable_text.active:hover {
    color:#22cc9d;
}

#edit_btn, #delete_btn, #confirm_edit_btn, #cancel_edit_btn {
    flex: 0 0 auto;
    height: 30px;
    width: 30px;
}

#new_set_li {
    align-self: center;
}

#new_set_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83.7vw;
    height: 50px;
    gap: 5px;
    border-radius: 10px;
}

#editable_input {
    flex: 1;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#confirm_edit_btn {
    grid-column-start: 2;
    grid-column-end: 2;
}

#cancel_edit_btn {
    grid-column-start: 3;
    grid-column-end: -1;
}

#confirm_edit_btn, #cancel_edit_btn {
    height: 30px;
    width: 30px;
    align-self: center;
    justify-self: center;
}

p {
    color: black;
}

#confirm_edit_btn.active, #cancel_edit_btn.active, #edit_btn.active, #delete_btn.active, #new_set_btn.active, #flashcard_submit_btn.active {
    color: black;
    border-style: ridge;
    border-radius: 5px;
    border-width: 1px;
}

#confirm_edit_btn.active:hover, #cancel_edit_btn.active:hover, #edit_btn.active:hover, #delete_btn.active:hover, #new_set_btn.active:hover, #flashcard_submit_btn.active:hover {
    color: #22cc9d;
    background-color: #e8e8e8;
}

#new_set_btn.active {
    border-style: dashed;
    border-width: 2px;
}

#new_set_btn.active:hover {
    border-color: #22cc9d;
}

#profile_top {
    position: absolute;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: -1;
    background-color: #22cc9d;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: end;
}

#profile_name {
    width: fit-content;
    height: fit-content;
    color: white;
}

#profile_close_btn {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border: none;
    border-radius: 15px;
}

#close_profile_icon {
    font-size: 20px;
    color: white;
}

#profile_close_btn.active {
    background-color: #22cc9d;
}

#profile_close_btn.active:hover {
    background-color: #25dfac;
}

#profile_options {
    position: absolute;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: -1;
    background-color: #f5f5f5;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(20, 5%);
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

#edit_profile, #logout_btn {
    height: 25px;
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 10px;
}

#edit_profile {
    grid-row-start: 3;
    grid-row-end: 3;
}

#logout_btn {
    grid-row-start: 4;
    grid-row-end: 4;
}

#edit_profile.active, #logout_btn.active {
    background-color: #f5f5f5;
}

#edit_profile.active:hover, #logout_btn.active:hover {
    background-color: rgba(0,0,0,0.1);
    color:#22cc9d;
}

#profile_bg {
    position: absolute;
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

#flashcard_creation_div {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}

#flashcard_creation_section {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 500px;
    transform: translate(-50%, -50%);
    border-style: ridge;
    background-color: #f5f5f5;
    border-radius: 10px;
    border-width: 4px;
}

#flashcard_creation_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

#flashcard_title_label, #flashcard_close_btn {
    grid-row-start: 1;
    grid-row-end: 1;
    height: fit-content;
    align-self: center;
}

#flashcard_title_label {
    grid-column-start: 1;
    grid-column-end: -1;
}

#flashcard_close_btn {
    grid-column-start: 2;
    grid-column-end: -1;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    justify-self: end;
    align-self: center;
    border: none;
    border-radius: 15px;
}

#flashcard_close_btn.active {
    background-color: whitesmoke;
}

#flashcard_close_btn.active:hover {
    background-color: rgba(0,0,0,0.1);
}

#flashcard_title2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    height: 25px;
    align-self: center;
    width: 90%;
}

#flashcard_submit_btn {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: -1;
    width: fit-content;
    height: fit-content;
    align-self: center;
    width: 80px;
    height: 30px;
}

#flashcard_close_profile_icon {
    font-size: 25px;
    color: black;
}

@media screen and (min-width: 800px) {
    
    #new_set_btn {
        width: 25vw;
        height: 7.4vh;
    }

}