

#close_btn {
    width: 30px;
    height: 30px;
    align-self: end;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

#close_btn.active {
    background-color: #e9e9e9;
}

#close_btn.active:hover {
    background-color: rgba(0,0,0,0.1);;
}

#login_section_2h2 {
    height: 40px;
    width: 75px;
    font-size: 25px;
    color:black;
    justify-self: center;
    align-self: end;

}

#signup_section_2h2 {
    height: 40px;
    width: 110px;
    font-size: 25px;
    color:#22cc9d;
    align-self: end;    
}

#signup_form {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 50px;
    grid-template-columns: 150px 1fr;
    height: fit-content;
    row-gap: 20px;
}

#username_label2 {
    grid-row: 1;
    grid-column: 1;
}

#username2 {
    grid-row: 1;
    grid-column: 2;
}

#email_label2 {
    grid-row: 2;
    grid-column: 1;
}

#email2 {
    grid-row: 2;
    grid-column: 2;
    height: auto;
}

#password_label2 {
    grid-row: 3;
    grid-column: 1;
}

#password2 {
    grid-row: 3;
    grid-column: 2;
    height: auto;
}

#confirm_password {
    grid-row: 4;
    grid-column: 2;
    height: auto;
}

#username_label2, #email_label2, #password_label2, #confirm_password_label {
    height: fit-content;
    width: fit-content;
    align-self: center;
}

#username2, #email, #password {
    height: 25px;
    align-self: center;
}

#submit_btn2, #login_page_btn {
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

#submit_btn2 {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 5;
    justify-self: center;
    align-self: center;
    height: 35px;
    width: 80px;
}

#login_page_btn {
    width: 200px;
    height: 35px;
    margin-top: 10px;
}

#submit_btn2.active, #login_page_btn.active {
    background-color: #22cc9d;
}

#submit_btn2.active:hover, #login_page_btn.active:hover {
    background-color: rgba(30, 175, 134, 0.8);
}